body {
    display: grid;
    grid-template-columns: 300px 900px ;
    grid-template-rows: 150px 800px;
    border: black solid 2px;
}
.dashboard {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
}
.header {
    display:grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-rows: 1fr 1fr;
}
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #e2e8f0;
}
.your-projects, .announcements, .trending{
    padding:10px;
}
.your-projects {
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    gap:10px;
}
 .your-projects .title {
     grid-column: 1/3;
}

.project {
    padding:15px;
    background-color: #fff;
}

.your-projects .project {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }
.content{
    color: #1e293b
}
.icons {
    align-self: flex-end;
}
.announcements {
    display: grid;
    grid-template-rows: 1fr 6fr;
}
.announcements .project .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 18px;
}
.announcements .project .content.content:last-child{
    border-bottom: none;
}


.trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.guy {
    display: flex;
    gap:10px

}
.avatar img{
    height: 35px;
}