@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1, h2 {
    margin: 0;
}
h2{
    position: relative;
    top:50%
}
ul{
    list-style-type: none;
}
body {
    font-family: 'Roboto', sans-serif;;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 3fr 16fr;
    width: 1400px;
    border: solid black 4px;
}



/* sidebar */
.dashboard {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 1fr 8fr;
    background-color: #93C5FD;
    box-shadow: 0px 0px 4px 1.5px #94a3b8  inset ;

}
.dashboard .logo{
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.company-name {
    font-size: 30px;
    font-weight: 600;
}
.logo img {
    height: 80px;
}
.tags li {
    display: flex;
    gap:10px;
    font-size: 25px;
}
.tags ul{
    display: flex;
    flex-direction: column;
    gap:20px
}
.tags{
    display: flex;
    flex-direction: column;
    gap:30px;
}




/* header */
.header {
    display:grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-rows: 1fr 1fr;
    padding:20px 40px;
    box-shadow: 0px 2px 3px #94a3b8 ;
    position: relative
}

.search-bar{
    display: flex;
    gap:15px;
}
.search-bar img, input{
    height: 40px;
}
.search-bar input{
    padding-left:10px;
    box-sizing: border-box;
    width: 400px;
    background-color:#e2e8f0;
    border-radius: 15px;
    border:none;
    box-shadow: 2px 2px 3px #94a3b8 ;    
}

.name {
    display: flex;
    gap:30px;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
}
.name .me {
    position: relative;
    top: 5px
}
.name img{
    height: 40px;
}

.welcome {
    display: flex;
    gap:30px;
    align-items: center;
    font-weight: 600;
}
.welcome img {
    height: 60px;
}
.welcome .me {
    font-size: 25px;
}
.action-buttons{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center
}
.action-buttons button{
    width: 100px;
    height: 35px;
    font-weight: 600;
    background-color:#93C5FD;
    border-radius:15px;
    border: none;
    box-shadow: 2px 2px 3px #94a3b8 ;
}

/* main content */
.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr 6fr;
    background-color: #e2e8f0;
    padding:20px;
    gap:20px;
}
.your-projects {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:15px;
}
.your-projects-title {
     grid-column: 1/2;
}
.project {
    padding:15px;
    background-color: #fff;
}
.your-projects .project {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     border-radius:10px;
     box-shadow: 3px 3px 4px #94a3b8 ;
 }
.content{
    color: #1e293b
}
.icons {
    align-self: flex-end;
}
.announcements {
    display: grid;
    grid-template-rows: 1fr;
}
.announcements .project{
    border-radius:10px;
    box-shadow: 3px 3px 4px #94a3b8 ;
}
.announcements .project .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 18px;
    
}
.announcements .project .content.content:last-child{
    border-bottom: none;
}
.trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.trending .project{
    display: flex;
    flex-direction: column;
    gap:15px;
    border-radius:10px;
    box-shadow: 3px 3px 4px #94a3b8 ;
}
.guy {
    display: flex;
    gap:15px;
}
.avatar img{
    height: 35px;
}